<table>
	<% postimage.post_image_comments.each do |post_image_comment| %>
	<tr>
	    <td class="event-comment-user-name"><%= post_image_comment.created_at.to_date %><span><%= post_image_comment.user.name %></span></td>
	</tr>
	<tr class="comment-table-tr">
		<td><%= post_image_comment.comment %></td>
	    <% if post_image_comment.user_id == current_user.id %>
	    	<td>
	    		<span><%= link_to "削除", post_image_post_image_comments_path(post_image_comment.id), method: :delete, remote:true %>
	    		</span>
	   	<% end %>
	    	</td> 
	</tr>
    <% end %>
</table>
