<h2>~ To everyone who loves motercycles ~</h2>
	<div class= "container">
		<button type="button" class="btn btn-default">
			<h3>SpMoto とは</h3>
		</button>
		<br>
		<button type="button" class="btn btn-default">
			<%= link_to "新規登録",new_user_registration_path %>
		</button>
		<button type="button" class="btn btn-default">
			<%= link_to "ログイン",new_user_session_path %>
		</button>
	</div>