<div class="row">
	<div class="image-box">
        <h2>~ To everyone who loves motercycles ~</h2>
            <% if user_signed_in? %>
              <div class="about">
                    <h4>SpMotoとは</h4>
                        <p>バイクが好きな方へ向けたSNSサイトです。<br>
                        当サイトではSNSとして画像を投稿することはもちろん<br>
                        ツーリングイベントへの参加、開催をすることが出来ます。</p>
                        <p>心ゆくまでご活用ください</p>
                </div>
            <% else %>
            <br>
                <div class="about">
                    <h4>SpMotoとは</h4>
                        <p>バイクが好きな方へ向けたSNSです。<br>
                        会員様は画像を投稿することはもちろん<br>
                        ツーリングイベントへの参加、開催をすることが出来ます。</p>
                        <p>是非ご活用ください</p>
                </div>
            <br>
            <div class= "second">
                    <button type="button" class="bt new">
                        <%= link_to new_user_registration_path do %>
                        <span class="text">新規登録</span>
                        <% end %>
                    </button>
                    <button type="button" class="bt session">
                        <%= link_to new_user_session_path do %>
                        <span class="text">ログイン</span>
                        <% end %>
                    </button>
            </div>
            <div class="guest">
                <button type="button" class="bt new">
                        <%= link_to homes_new_guest_path, method: :post, data: {"turbolinks" => false} do %>
                        <span class="text">ゲストログイン</span>
                        <% end %>
                    </button>
            </div>
            <% end %>
    </div>
</div>
    