<div class="row">
	<div class="message-room">
		<div class="message-other-user">
			<p>Send_to:
				<span>
					<% @entry = @entriys.where.not(user_id: current_user) %>
					<% @name = @entry[0].user.name %>
					<%= link_to @name, user_path(@entry[0].user_id),data: {"turbolinks" => false} %>
				</span>
			</p>
		</div>
		<div class="message-text">
			<form>
				<span>Post</span>
				<input type="text" data-behavior="room_speaker"><span>Push Enter</span>
			</form>
		</div>
		<div id = "messages", data-room_id="<%= @room.id %>"> 
			<%= render @messages %>
		</div>
	</div>
</div>
