<div class="row">
	<div class="message-room">
		<h4>メンバー:
			<% @entriys.each do |entriy| %>
			<%= link_to entriy.user.name, user_path(entriy.user) %>
		<% end %>
		</h4>
		<form>
			<label>post</label>
			<input type="text" data-behavior="room_speaker">
		</form>
		<div id = "messages", data-room_id="<%= @room.id %>"> 
			<%= render @messages %>
		</div>
	</div>
</div>

