<table>
	<% event.event_comments.sort_by{|comment| comment.id}.reverse.each do |event_comment| %>
		<tr>
	    	<td class="event-comment-user-name"><%= event_comment.created_at.strftime("%Y/%m/%d/%H:%M") %><span><%= link_to event_comment.user.name,user_path(event_comment.user),data: {"turbolinks" => false} %></span></td>
		</tr>
		<% if event_comment.score > 0 %>
			<tr class="comment-table-tr positive-comment">
		<% elsif event_comment.score < 0 %>
			<tr class="comment-table-tr negative-comment">
		<% else %>
			<tr class="comment-table-tr standard-comment">
		<% end %>
				<td><%= simple_format(event_comment.comment) %></td>
		    	<% if event_comment.user_id == current_user.id or event_comment.event.user_id == current_user.id %>
		    		<td>
		    			<span><%= link_to "削除", event_event_comments_path(event_comment), method: :delete, remote:true %>
		    			</span>
		    		</td> 
	    		<% end %>
			</tr>
  	<% end %>
</table>