/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bxslider
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
	font-family:'Century Gothic';
}


header{
	background-color: black;
	color:white;
	position:fixed;
  	z-index:150;
  	width:100%;
  	padding-right: 2%;
}

header a{
	color:white;
}

header a:hover{
	color: black;
}

.logo{
	font-size: 18px;
	font-weight: bold;
	text-shadow:1px 1px 2px white;
}

.nav-link{
	font-weight: bold;
}

footer{
	width:100%;
	background-color:black;
	height:50px;
}

.foot{
	color:white;
	text-align: center;
	padding-top:10px;
	font-weight: bold;
	font-size: 18px;
}

.field{
	margin: 0 auto;
}

.container{
	position: relative;
	width: 100%;

        /* コンテンツ部分の高さが画面に収まらない場合はコンテンツの高さに合わせる*/
        height: auto !important;

        /* コンテンツ部分の高さが画面より低い場合は画面の高さに合わせる*/
        height: 100%;
        min-height: 50%;
}

ul {
	list-style: none;
}

.head-nav{
	padding-right: 10px;
}

