.carender{
	display: none;
}

.equal{
	background-color: orange;
	width: 100%;
}

.equal a{
	color: black;
}

.fa-calendar{
	font-size: 50px;
	background-color: white;
	border-style: none;
}

.current-culendar{
	text-align: center;
}

.carendar-title{
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

.calendar-info{
	background-color: orange;
	display: inline-block;
	float:right;
	width: 100px;
	text-align: center;
	font-weight: bold;
}

.calender{
	display: none;
}

.event-index-calendar{
	font-size: 40px;
	display: inline-block;
	margin-left: 1%;
}


.calendar-table th{
	text-align: center;
}