// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-top{
	margin-top:60px;
}

.event-title-new{
	border-bottom: 1px solid;
	margin-bottom: 1%;
}

.event-title-new-new{
	margin-top: 70px;
}

.event-title-new-new input[type="text"]{
	width: 100%;
}

.event-body-new textarea[id="event_body"]{
	width: 100%;
	height: 200px;
}

.latitude-longitude-form{
	display:none;
}

.new-map{
	margin-top:90px;
}

.event-new-button{
	width:100%;
	padding-top:2%;
	text-align: center

}

.event-new-button input[type="submit"]{
	width:300px;
}

.event-show-box{
	margin-top:60px;
}
.event-show-box span{
	display: inline-block;
	margin-left: 5%;
}
.event-body-show{
	height:250px;
	border: 1px solid #EEEEEE;
	box-shadow: 1px 1px 3px #EEEEEE;
	padding:5px;
}
.event-body-show p{
	font-weight: bold;
}

.event-user-show{
	width: 100%;
	border:1px solid #EEEEEE;
	box-shadow: 1px 1px 3px #EEEEEE;
}

.event-prefecture-new{
	border:1px solid #EEEEEE;
	box-shadow: 1px 1px 3px #EEEEEE;
}
.event-meetingplace-new{

	border:1px solid #EEEEEE;
	box-shadow: 1px 1px 3px #EEEEEE;
}


.event-meetingplace-new input[type="text"]{
	width: 85%;
}

.event-date-and-time-new{
	border:1px solid #EEEEEE;
	box-shadow: 1px 1px 3px #EEEEEE;
}

.event-meeting-finish-time-new{
	border:1px solid #EEEEEE;
	box-shadow: 1px 1px 3px #EEEEEE;

}
.event-capacity-new{
	border:1px solid #EEEEEE;
	box-shadow: 1px 1px 3px #EEEEEE;

}

.event-participates-count{
	display: inline-block;
	margin-right: 5%;
}
.event-participates-show{
	border:1px solid #EEEEEE;
	box-shadow: 1px 1px 3px #EEEEEE;
}

.event-participates-show span{
	font-size:25px;
	display: inline-block;
	padding-top: 2%;
}
.eventcomment-index{
	width: 100%;
}
.eventcomment-index table{
	width: 100%;
}

.event-comment-form input[type="submit"]{
	border: 1px solid;
	background-color: white;
  	width: 20%;
 	height: 4%;
 	margin: 0 auto;
 	display: block;
 	margin-bottom:2%;
}


.event-comment-user-name span{
	display: inline-block;
	margin-left: 5%;
}

.comment-table-tr{
	border-bottom: 1px solid;
}

.comment-table-tr span{
	text-align: right;
}

.event-show-edit-button{
	text-align: center;
}

.event-show-edit-button span{
	display: inline-block;
	padding-top:5%;
}

.edit-profile-image{
  display: inline-block;
  margin-top: 5%;
}

.event-title-edit{
	margin-top:60px;
}
.event-new-button span{
  display: inline-block;
  padding-top: 5%;
}

#event-destroy-button{
	width:300px;
}

.event-comment-form textarea{
	display: block;
	margin: 0 auto;
}


.event-navs{
	border:2px solid #EEEEEE;
}

.event-navs a{
	display: block;
}

.event-navs a:hover{
	color:black;
	font-weight: bold;
}

.event-comment-all{
	display: none;
	width: 80%;
	margin: 1% auto;
}

.event-comment-icon{
	font-size: 50px;
	margin-top: 5%;
}

.comment-icon{
	text-align: center;
}

.event-comments-count{
	font-size:20px;
}

.event-show{
	margin-bottom: 1%;
}

.participate{
	background-color: moccasin;
}

.fa-circle span{
	color: black;
	font-weight: normal;
}


.event-buttons{
	text-align: center;
}

.event-buttons a{
	color: black;
}

.event-button{
	background-color: cornsilk;
	border-radius: 5px;
	width: 150px;
	height: 50px;
	border-color: cornsilk;
}

.newevent{
	margin-bottom: 1%;
}

.event-smart-index{
	margin-top:50px;
}

.event-smart-index a{
	color: black;
}

.event-smart-box{
	width: 100%;
	border: 1px orange;
	border-style: outset;
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 10px 5px 0 10px;
}

.participate-smart-message{
	display: inline-block;
	float:right;
}


.event-smart-title p{
	border-bottom:1px dotted orange;
}

.event-smart-title span{
	display: inline-block;
	margin-left: 10px;
}

.event-smart-time p{
	border-bottom:1px dotted orange;
}

.participate-smart-message{
	color:darkorange;
}

.pc-tab{
}

.smart{
	margin-top: 80px;
	display: none;
}

.event-index-which{
	margin-top: 150px;
	text-align: center;
}

.which-button{
	height: 80px;
	width: 30%;
	background-color: white;
	border-radius: 10px;
	margin: 5px;
	border: 1px solid #CCCCCC;
	font-size: 18px;
	display: none;

}

.which-button:hover{
	background-color: black;
	color:white;
	font-weight: bold;
	transition: all 2S;

}

@media screen and (max-width:780px) {
	.pc-tab{
		display: none;
	}

	.smart{
	margin-top: 80px;
	display: block;
	}

}

