// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-top{
	margin-top:7%;
}

.event-title-new{
	margin-top:15%;
}

.latitude-longitude-form{
	display:none;
}

.new-map{
	margin-top:15%
}

.event-new-button{
	width:100%;
	padding-top:2%;
}

.event-new-button input[type="submit"]{
	display:block;
	margin: 0 auto;
	width:300px;
}