// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-top{
	margin-top:60px;
}

.event-title-new{
	border-bottom: 1px solid;
	margin-bottom: 1%;
}

.event-title-new-new input[type="text"]{
	width: 100%;
}

.event-body-new textarea[id="event_body"]{
	width: 100%;
	height: 200px;
}

.latitude-longitude-form{
	display:none;
}

.new-map{
	margin-top:60px;
}

.event-new-button{
	width:100%;
	padding-top:2%;
	text-align: center

}

.event-new-button input[type="submit"]{
	width:300px;
}

.event-show-box{
	margin-top:60px;
}
.event-show-box span{
	display: inline-block;
	margin-left: 5%;
}
.event-body-show{
	height:250px;
	border: 1px solid #EEEEEE;
	box-shadow: 1px 1px 3px #EEEEEE;
	padding:5px;
}
.event-body-show p{
	font-weight: bold;
}

.event-user-show{
	width: 100%;
	border:1px solid #EEEEEE;
	box-shadow: 1px 1px 3px #EEEEEE;
}

.event-prefecture-new{
	border:1px solid #EEEEEE;
	box-shadow: 1px 1px 3px #EEEEEE;
}
.event-meetingplace-new{

	border:1px solid #EEEEEE;
	box-shadow: 1px 1px 3px #EEEEEE;
}


.event-meetingplace-new input[type="text"]{
	width: 85%;
}

.event-date-and-time-new{
	border:1px solid #EEEEEE;
	box-shadow: 1px 1px 3px #EEEEEE;
}

.event-meeting-finish-time-new{
	border:1px solid #EEEEEE;
	box-shadow: 1px 1px 3px #EEEEEE;

}
.event-capacity-new{
	border:1px solid #EEEEEE;
	box-shadow: 1px 1px 3px #EEEEEE;

}

.event-participates-count{
	display: inline-block;
	margin-right: 5%;
}
.event-participates-show{
	border:1px solid #EEEEEE;
	box-shadow: 1px 1px 3px #EEEEEE;
}

.event-participates-show span{
	font-size:25px;
	display: inline-block;
	padding-top: 2%;
}
.eventcomment-index{
	width: 100%;
}
.eventcomment-index table{
	width: 100%;
}

.event-comment-form input[type="submit"]{
	border: 1px solid;
  	width: 60%;
 	height: 4%;
 	margin: 0 auto;
 	display: block;
 	margin-bottom:2%;
}


.event-comment-user-name span{
	display: inline-block;
	margin-left: 5%;
}

.comment-table-tr{
	border-bottom: 1px solid;
}

.comment-table-tr span{
	text-align: right;
}

.event-show-edit-button{
	text-align: center;
}

.event-show-edit-button span{
	display: inline-block;
	padding-top:5%;
}

.edit-profile-image{
  display: inline-block;
  margin-top: 5%;
}

.event-title-edit{
	margin-top:60px;
}
.event-new-button span{
  display: inline-block;
  padding-top: 5%;
}

#event-destroy-button{
	width:300px;
}

.event-comment-form textarea{
	display: block;
	margin: 0 auto;
}


.event-navs{
	border:2px solid #EEEEEE;
}

.event-navs a{
	display: block;
}

.event-navs a:hover{
	color:black;
	font-weight: bold;
}



