// Place all the styles related to the post_images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.showimage{
	width:100%;
}


.profile-image{
	margin-top: 15px;
}

.image-show-form{
	border:3px solid #EEEEEE;
	box-shadow: 4px 4px 6px #EEEEEE;
	width: 80%;
	margin-top:60px;
	margin-bottom:5%;
}

.show-table{
	margin: 0 auto;
	margin-top: 10%;
}

.count{
	border: solid;
	border-color: #EEEEEE;
	width: 20%;
	height: 50px;
	float: left;
}


.image-show-comment-box{
	margin-top: 20%
}


.editlink{
	float:right;
}



.postimage-new-box{
	margin-top:10%;
	text-align: center;
}


.postimage-new{
	width: 100%;
	height:50px;
	text-align: center;
	margin-top: 20px;
}

.postimage-new  input[type="submit"]{
	display: block;
	border-radius: 4px;
	border :1px solid;
	background-color:white;
	height:100%;
	width:50%;
	margin:0 auto;

}

.postimage-new  input[type="submit"]:hover{
	background-color: black;
	font-weight: bold;
	color:white;
	transition: all 2S;
}


.attachment-field{
	height:30px;
}
.attachment-field input[multiple="multiple"]{
	display:block;
	margin:0 auto;

}

.postimage-index{
	margin-top:50px;
}

.image-index-pagination{
	text-align: center;
	width:100%;
}

.hashtag-name{
	margin-top:60px;
}

.hashname{
	border-right: 1px solid #EEEEEE;
}

.postimage-update-box{
	text-align: center;
	margin-top:10%;
}

.postimage-update-box form{
	margin-top: 3%;
}

.postimage-destroy-button p{
	display: inline-block;
	margin-top: 6%;
}

.postimage-destroy-button{
	margin:2% 0 2% 0;
}


.image-show-comment-index table{
	width: 400px;
}

.image-show-favorite span{
	display: inline-block;
	margin-left:10%;
}

.image-show-favorite{
	font-size: 14px;
}

.show-image-user{
	display: inline-block;
	margin-left: 2%;
	margin-right: 10%;
}	
.image-show-body-hash{
	border-top: 2px solid #EEEEEE;
	padding:2% 2% 2% 0;
}

.image-show-command{
	padding-left: 3%;
}

.image-show-day-edit{
	padding-left: 2%;
	color: #777777
}

.pv{
	display: inline-block;
	margin :0 2% 0 10%;
}

.comment-form input[type="submit"]{
	border: 1px solid;
  	width: 60%;
 	height: 4%;
 	margin: 0 auto;
 	display: block;
 	margin-bottom:1%;

}

.comment-form form{
	display: inline-block;
	margin: 0 auto;
}

.bx-wrapper {
	border:2px solid #DDDDDD;
}

.image-show-form{
	width: 680px;
}
.positive-comment:hover{
	background-color: #FFC7AF;
	transition: all1S;
}

.negative-comment:hover{
	background-color: #A4C6FF;
	transition: all1S;
}

.post-image-index-post-box{
	float:left;
	border:2px solid #DDDDDD;
	margin: 8px;
	box-shadow: 1px 1px 2px #DDDDDD;
	width: 220px;
}

.index-post-box-top{
	display: inline-block;
	margin-top: 5px;
	margin-left: 12px;
	color:#777777;
}

.post-box-top-favorite{
	display: inline-block;
	margin-left: 50px;
}

.index-post-box-name{
	margin-left: 12px;
}

.hashtag-image-box{
	float:left;
	border:2px solid #DDDDDD;
	margin: 8px;
	box-shadow: 1px 1px 2px #DDDDDD;
	width: 270px;
}

.hashtag-image-box-top{
	display: inline-block;
	margin-top: 5px;
	margin-left: 12px;
	color: #777777;
}

.hashtag-image-box-top-favorite{
	display: inline-block;
	margin-left: 80px;
}

.hashtag-post-box-name{
	margin-left: 12px;
}

.index-switch{
	text-align: center;
	padding-top: 1%;
	letter-spacing: 5px;
	font-size: 15px;

}

.index-all{
	width: 130px;
	height: 50px;
	background-color: white;
	border-radius: 5px;
	margin-right: 2%;
	display: inline-block;
	transition: all 2S;
	border: 1px solid black;
}

.index-follow{
	width: 130px;
	height: 50px;
	background-color: white;
	border-radius: 5px;
	margin-left:2%;
	display: inline-block;
	transition: all 2S;
	border: 1px solid black;
	padding-left: 3px;
}

.index-all-text{
	color: black;
	display: block;
	height: 100%;
	padding-top: 12px;
}

.index-follow-text{
	color: black;
	display: block;
	height: 100%;
	padding-top: 12px;
}

.index-all:hover{
	background-color: black;
	color: white;
}

.index-follow:hover{
	background-color: black;
	color:white;
}
.index-all-text:hover{
	color:white;
	font-weight: bold;
}
.index-follow-text:hover{
	color:white;
	font-weight: bold;
}