// Place all the styles related to the relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#follow-btn{
	display: inline-block;
	width:100px;
	border-radius:10px;
}

.relation-ships{
	margin-top: 60px;
}