// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-form{
	margin-top:60px;
}

.search-form input[type="submit"]{
	height: 30px;
	display: inline-block;
	margin-left:3%;
}

.search-hashtag-index h2{
	margin-bottom: 2%;
	border-bottom:2px solid #EEEEEE;
}

.search-postimage-index h2{
	margin-bottom: 2%;
	border-bottom:2px solid #EEEEEE;
}

.search-title {
	display: block;
	background-color: black;
	color:white;
}
