<div class= "row">
	<div class="postimage-index">
		<% @postimage.each do |image| %>
  			<%= link_to post_image_path(image.post_image_id) do %>
			<%= attachment_image_tag image, :image ,size:'250x200', format:'jpg',class:"image" %>
  		<% end %>
	<% end %>
	</div>
	<div class="image-index-pagination">
	<%= paginate @postimage,class:"paginate" %>
	</div>
</div>